<div class="fixed inset-0 bg-black/40 backdrop-blur-sm flex items-center justify-center z-50 transition">
  <div
    class="bg-white dark:bg-gray-800 text-gray-800 dark:text-white w-full max-w-md p-6 rounded-xl shadow-xl animate-fade-in-up text-center">
    <h2 class="text-2xl font-bold mb-4">🎉 Session Complete</h2>
    <p class="mb-2">Time: <span class="font-semibold">{{ duration }} seconds</span></p>
    <p *ngIf="reps > 0" class="mb-4">
      Reps Completed: <span class="font-semibold">{{ reps }}</span>
    </p>

    <button routerLink="/" class="mt-4 bg-cyan-500 text-white px-4 py-2 rounded-full hover:bg-cyan-600 transition">
      Back to Home
    </button>
  </div>
</div>